.leaves-statistics-container{
    padding: 40px;
    display: flex;
    flex-direction: column;

    .title{
        font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #242454  
    }

    .stat-card-item{
        display: inline-flex;
        border-radius: 10px;
        color: white;
        margin: 0px 5px 5px 0px;
        &.leave-stat-container{
            
            .remaining-section{
                padding: 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                border-right: 2px solid white;
                

                .label{
                    text-align: center;
                }

                .remaining-counter{
                    font-size: 40px;
                    font-weight: bold;
                    line-height: normal;
                }
            }

            .sub-section{
                display: flex;
                flex-direction: row;
                padding: 15px;

                &.vacation-leave-section{
                    border-bottom: 2px solid white;
                    
                }

                .used-counter-section{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .remaining-counter{
                        font-size: 40px;
                        font-weight: bold;
                        text-align: center;
                        
                        line-height: 35px;
                    }
                }
                .leave-type-container{
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    font-size: 18px;
                    .label-leave-type{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }   
    }
    .stat-card-item{
        background-color: #a3a9c9;
    }
}

.pending-request-table{
    padding: 30px;

    .title{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #242454
    }
    
    table{
        border-radius: 10px;
        tr{
            td{
                vertical-align: middle;


                &.vacation-leave-type{
                    
                }

                &.status-type {
                    text-align: center;
                    .pending-status{
                        background-color: #e1b285;
                        color: white;
                        display: inline-block;
                        padding: 5px 10px;
                        border-radius: 10px;
                    }
                    .approved-status{
                        background-color: #3ea793;
                        color: white;
                        display: inline-block;
                        padding: 5px 10px;
                        border-radius: 10px;
                    }
                    

                }
                &.checkbox-container{
                    text-align: center;
                    input{
                        height: 20px;
                        width: 20px;
                        accent-color: #7e84a5
                    }
                }
                
            }
            
            
        }
    }

    .table-action-container{
        padding: 5px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .label{
            margin-right: 10px;
        }

        .action-button-container{
            display: flex;
            justify-content: space-between;
            flex-grow : 1;
            
            & > div{
                display: flex;
            }
            button{
                background-color: #84c7c2;
                color: white;
                border: none;
                padding: 7px 15px;
                border-radius: 10px;
                
                display: flex;
                align-items: center;

                &.delete-selected-data{
                    background-color: #e38686;
                }
    
                &.unusable{
                    background-color: #f5f5f5;
                    border: 1px solid #cdcdcd;
                    color: inherit;
                    cursor:not-allowed;
                }

                i{
                    margin-right: 10px;
                    font-size: 18px;
                }
    
                
            }
            .edit-selected-data{
                margin-right: 5px;
            }
            .add-request-leave{
                
            }
        }
        
    }
}

.no-data-table-placeholder{
    // border: 1px dashed #cdcdcc;
    text-align: center;
    padding : 20px;
    border-radius: 10px;
    display: flex;
    position: relative;
    clip-path: inset(0 round 10px 10px 10px 10px);
    justify-content: center;

    &::before{
        content: '';
        position: absolute;
        left: -7px;
        top: -7px;
        right: -7px;
        bottom: -7px;
        border: 8px dashed #cdcdcd;
        border-radius: 10px 10px 10px 10px;
        box-sizing: border-box;
    }
    
}


.request-statistics{
    background-color: #b5962a;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
    display: flex;
    opacity: 0;
    gap: 30px;
    height: 0;
    padding: 0;
    justify-content: space-between;

    .stat-item{
        display: flex;
        gap: 10px;
    }

    
}

.preview-container{
    border: 1px solid #cdcdcd;
    padding: 20px;
    
    background-color: #4fab74;
    bottom: -1000;
    left: 30px;
    right: 30px;
    padding: 20px 30px;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    color: white;

    .title{
        font-size: 17px;
        font-weight: bold;
        padding: 10px 0px;
    }
    .preview-item-container{
        padding-left: 20px;
        display: flex;
        gap: 5px;
        flex-direction: column;

        .label{
            font-weight: bold;
        }
    }
    .preview-item{
        display: grid;
        grid-template-columns: 130px  auto;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .label{
            grid-area: 1 / 1 / 2 / 2;
        }

        .value{
            grid-area: 1 / 2 / 2 / 3; 
        }

        
    }
    .component-container{
        display: flex;
        gap: 10px;
    }

    .control-component{
        .confirm-request{
            background-color: white;
            color: green;
            
        }
        .go-back{
            background-color: white;
            color: gray;
        }
    }
}



.control-component{
    .next-button, .clear-form-buttom{
        border: 1px solid #cdcdcd;
        background-color: transparent;
        color: inherit;

        
    }

    
    i{
        margin-left: 5px;
    }
    .clear-form-buttom{

    }
}


.main-content-container{
    .content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .leaves-statistics-container{
    }
}
