$navigationColorBlack : #1e1e1e;
$navigationWidth : 250px;
$readeableColor : #636363;
$defaultFontSize: 14px;


// toggling navigation
$slideNavigationMarginLeft : -250px;
$navigationTransition : 300ms;

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
html, body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: $defaultFontSize;
    
}

body.blurred{
    filter: blur(2px)
}

*{
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }  
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}


//  overrides bootstrap



.body-content{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-body{
    
    background-color: $navigationColorBlack;
    width: $navigationWidth ;
    min-width: $navigationWidth ;
    transition: $navigationTransition;

    display: flex;
    flex-direction: column;   
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    justify-content: space-between;
    overflow-y: scroll;

    &.shrinked{
        margin-left: $slideNavigationMarginLeft;
        transition: all 300ms cubic-bezier(.47,1.64,.41,.8);
    }

    &.shrinked.is-on-mobile-width{
        width: 250px;
        
    }

    &.is-on-mobile-width{
        z-index: 1;
        right: 0;
        width: 100%;
        // this is inside navigation left slider
        .navigation-toggler{
            display: block;
        }
    }

    
    
      
    // this is inside navigation left slider
    .navigation-toggler{
        position: absolute;
        right: 0;
        top: 10%;
        display: none;
        padding: 20px 15px;
        background-color: white;
        border-radius: 10px 0px 0px 10px;
    }

    .left-body-content{
        display: flex;
        color: white;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 0PX;
        

        .profile-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0px;

            div{
                text-align: center;
                padding-bottom: 5px;
            }
            .employee-name{
                font-weight: bold;
                font-size: 16px;
            }

            .profile-pic{
                width: 200px;
                height: 200px;
                display: flex;
                margin-bottom: 10px;

                .img-holder{
                    background-image: url("../images/ppPlaceholder.png");
                    border-radius: 100%;
                    background-size: cover;
                    width: 100%;
                }
                
            }

            .my-profile-link {
                padding-top: 20px;

                a{
                    text-decoration: none;
                    color: white;
                    
                    .myprofile-button{
                        border-radius: 10px;
                        padding: 7px 15px;
                        border: 1px solid gray;
                        i{
                            margin-right: 7px;
                        }
                    }
                }
            }
        }


        .navigation-container{
            padding: 10px 0px;

            .navigation-label{
                font-size: 13px;
                color: #c1c1c1;
                margin-bottom: 10px;
                padding: 0px 10px;
            }

            .navigation-list{
                display: flex;
                flex-direction: column;

                .navigation-item{
                    display: flex;
                    flex-direction: row;
                    padding: 10px 25px;
                    align-items: center;
                    text-decoration: none;
                    color: white;
                    
                    &:hover{
                        background-color: #0e6c85;
                        // #0e6c85 blue,  #444444 gray
                        transition: 100ms;
                    }

                    .nav-icon{
                        margin-right: 10px;
                        font-size:25PX;
                        width: 30PX;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }


        
    }


    // if navigation shrinked
    


    .rights-container{
        text-align: center;
        color: gray;
        padding-bottom: 10px;
        font-size: 12px;
    }
}





//   right body

.right-body{
    background-color: none;
    transition: $navigationTransition;
    color: $readeableColor;
    flex-grow: 1;
    //position: relative;   //  causes popper to not work
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    margin-left: 250px; 

    &.widened{
        margin-left: 0;
        transition: all 300ms cubic-bezier(.47,1.64,.41,.8);
    }


    .header-container{
        background-color: white;;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
        left:0; 
        right : 0;
        box-shadow: 0px 1px 5px -2px gray;

        &.widened{
            margin-left: 0;
            transition: all 300ms cubic-bezier(.47,1.64,.41,.8);
        }

        .left-header{
            
            display: flex;
            flex-direction: row;

            & > div{      
                display: flex;
                align-items: center;
            }
            
            // this is inside the top header
            .navigation-toggler{
                padding: 20px 30px;
                cursor: pointer;
            }
            .time-date-container{
                padding-left: 20px;
            }
        }
        .right-header{
            
            display: flex;
            flex-direction: row;
            padding-right: 20px;

            & > div{      
                display: flex;
                align-items: center;
                margin-right: 10px;
            }

            .notification-container, .logout-container{
    
                .notification-button, .logout-button{
                        padding: 10px 15px;
                        border: 1px solid #cdcdcd;
                        border-radius: 10px;
                        cursor: pointer;
                }
                .notification-list-container{
                    background-color: #fff;
                    display: none;
                    border: 1px solid #d1d1d1;
                    border-radius: 7px;
                    font-size: 14px;;
                    position: absolute;
                    top: 75px;
                    width: 300px;
                    right: 0;
                    margin-right: 50px;
                    box-shadow: 0px 2px 10px 1px #e5e5e5;
                    z-index: 2;

                    &.show{
                        animation: showbounce 300ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
                        display: block;
                    }

                    @keyframes showbounce {
                        0%{
                        }
                        50%{
                            transform: scale(1.1);
                        }
                        100%{
                            transform: scale(1);
                        }
                    }

                    .notification-header{
                        padding: 10px 20px;
                        border-bottom: inherit;
                        background-color: #2c526a;
                        color: white;
                    }
                    .notification-list{
                        .notification-item-link{
                            color: inherit;
                        }
                        .notification-item{
                            
                            border-bottom: 1px solid #d1d1d1;
                            padding: 10px 25px 10px 35px;
                            position: relative;

                            &:hover{
                                background-color: #e6e5ed;
                            }
                            
                            


                            & > div{
                                padding-bottom: 5px;
                            }
                            .notification-subject{
                                padding-bottom: 7px;
                                display: flex;
                                align-items: center;
                                i{
                                    font-size: 20px;
                                }
                                
                                span{
                                    margin-left: 7px;
                                    font-weight: bold;
                                }
                                &:before{
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    background-color: red;
                                    position: absolute;
                                    left: 10px;
                                    top: 15px;
                                }
                            }
                            .notification-commit{
                                padding-left: 20px;
                                font-weight: bold;

                                &.approved{
                                    color: green
                                }
                            }
                            .notification-detail{
                                padding-left: 20px;
                            }
                        }
                    }
                }
                
            }

            .logout-container{
                .logout-button{
                    color: $readeableColor;
                }
            }
            .time-date-container{
                padding-left: 20px;
            }
        }

        
    }


    .main-content-container{
        display: flex;
        flex-direction: column;
        

        .navigation-header{
            padding: 20px 30px;

            .navigation-title{
                display: flex;
                align-items: center;
                font-size: 25px;
                .icon{
                    font-size: 30px;
                    margin-right: 10px;
                }
                .text{
                    font-weight: bold;
                }
            }
        }

        .content{
            padding: 0px 10px;
            .announcement-container{
                padding: 0px 20px;
                .header{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 10px;
                    padding-left: 10px;
                    
                    justify-content: space-between;

                    .header-text{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        font-size: 18px;
                        font-weight: bold;
                        .icon{
                            font-size: 20px;
                            margin-left: 10px;
                        }
                    }
                    .view-all-link{
                        a{
                            padding: 10px 20px;
                            border: 1px solid #cdcdcd;
                            border-radius: 10px;
                            font-size: 13px;
                            color: $readeableColor;
                        }
                    }
                }

                .announcement-content{
                    display: block;
                    .announcement-item{
                        border:1px solid   #cfcfcf;
                        border-radius: 10px;
                        padding: 20px;
                        margin-bottom: 20px;

                        .announcement-item-header{
                            .title-control-container{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;

                                .announcement-item-title{
                                    display: flex;
                                    flex-direction: row;
                                }
                                .controls{
                                    display: flex;
                                    flex-direction: row;
                                    .view-large, .toggle{
                                        margin-right: 15px;
                                        cursor: pointer;
                                    }   
                                }
                            }

                            .title-details{
                                display: flex;
                                flex-direction: column;
                                padding-left: 10px;

                                &>div{
                                    padding: 0px;
                                }

                                .date-posted, .poster{
                                    font-size: 13px;
                                }
                                .date-posted{
                                    color:#555
                                }

                                .poster{
                                    font-weight: bold;
                                }
                            }
                        }

                        .announcement-item-details{

                            .content-paragraph{
                                
                                margin: 20px 0px;
                                text-indent: 20px;
                            }
                            .image-attach-container{
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                .image-item{
                                    border-radius: 10px;
                                    box-shadow: 0px 1px 6px -2px grey;
                                    // border: outset 1px #ffffff;
                                    margin-right: 10px;
                                    margin-bottom: 10px;;
                                    max-width: 200px;
                                    max-height: 200px;
                                    
                                    overflow: hidden;
                                    
                                }
                            }

                            .seen-counter-container{
                                .seen-counter{
                                    font-size: 13px;
                                    color: #a7a7a7;
                                }
                            }
                        }
                    }
                }
            }
        }


        
        .leave-data-container, .tab-container{
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .tab-button-container{
                display: flex;
                flex-direction: row;
                padding: 0px 40px;
                width: 100%;
                // border-bottom: 1px solid #cdcdcd;
                .tab-item-button{
                    transform: translateY(1px);
                    padding: 10px 20px;
                    // border-radius: 10px 10px 0px 0px;
                    cursor: pointer;
                    user-select: none;
                    margin-right: 2px;
                    border: none;
                    margin-right: 10px;

                    &.selected{
                        border-bottom: 4px solid #7575c5;
                        
                        font-weight: bold;
                    }
                }
                
            }
            .tab-content{
                padding: 10px;
                // border: 1px solid #cdcdcd;
                .tab-content-item{
                    display: none;
                    &.selected{
                        display: block;
                    }
                }


                .table-schedule{
                    font-size: 14px;
                    padding: 30px;

                    .criteria-result-container{
                        display: flex;
                        padding: 10px 5px;
                        flex-direction: column;
                        // align-items: center
                        
                        .criteria-item-container{
                            padding-top: 5px;
                            .criteria-item{
                                display: inline-block;
                                padding: 10px 20px;
                                border-radius: 10px;
                                margin-right: 5px;
                                background-color: #8d7fbd;
                                color: white;
                            }
                        }
                    }

                    table{
                        
                    color: #636363;
                    }
                    td{
                        padding: 5px;
                        vertical-align: middle
                    }

                    td span.picture img{
                        width: 50px;
                        height: 50px;
                        border-radius: 10px;
                        margin-right: 10px;
                    }
                    th div.date{
                        // display: flex;

                        .day-of-the-week{
                            margin-right: 10px;
                        }

                        & > div{
                            display:  block;
                        }
                        
                    }

                    thead th{
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }

                    



                    // ================================================
                    // active day or today

                    // th:nth-child(4), td:nth-child(4){
                    //     background-color: #2e2e9117;
                    //     border-left: 2px solid  #673ab7;
                    //     border-right: 2px solid  #673ab7;
                    //     // background-color: blue;
                    // }
                    // th:nth-child(4){
                    //     // background-color: #538ec7;
                    //     // color: white;
                    //     border-radius: 5px 5px 0px 0px;
                    //     border-top: 2px solid  #673ab7;
                        
                    // }

                    // tr:last-child{
                    //     td:nth-child(4){
                    //         border-bottom: 2px solid  #673ab7;
                    //         border-radius:  0px 0px 5px 5px;
                    //     }
                    // }
                    // =================================================
                    
                    // tr td:nth-child(1), tr th:nth-child(1){
                        // background-color: gray;
                        // color:  white;
                        // padding: auto 10px;
                    // }
                    span.leave{
                        padding: 10px 10px;
                        border-radius: 10px;
                        color: white;
                        display: inline-block
                    }

                    span.day-off{
                        background-color: green;
                    }
                    span.vacation-leave{
                        background-color: green;
                    }
                    span.sick-leave{
                        background-color: #245772ba;
                    }
                    span.absent{
                        background-color: #df3f3f;
                    }
                    span.emergency-leave{
                        background-color: green;
                    }
                    span.off-set{
                        background-color: green;
                    }
                    span.emergency-leave{
                        background-color: green;
                    }
                    span.compationate-leave{
                        background-color: green;
                    }

                    .schedule-header-info{
                        font-size: 20px;
                        padding: 20px;
                        font-weight: bold;
                        background-color: #538ec7;
                        color: white;
                        border-radius:  10px 10px 0px 0px;
                        & > div{
                            display: inline-block;
                            margin-right: 20px;
                        }
                    }

                    .staff-td{
                        padding: 10px;
                        max-width: 200px;
                    }
                }
                
            }
        }
    }
}


.table-schdule{
    display: flex;
    flex-direction: column;
    
    
    .table-header{
        // background-color: #e2e9ef;
    }

    .table-header, .table-body{
        
        .table-row{
            display: flex;
            flex-direction: row;
            & .th-data, .td-data{
                display: flex;
                align-items: center;
                width: 12%;
                // padding: 10px 10px;
                border: 1px solid #ededed;
                border-bottom: none;
                border-right: none;
                

                // first column  "workers"
                &:nth-child(1){
                    flex-grow: 1;
                    font-size: 14px;
                }

                &:last-child{
                    border-right: 1px solid #cdcdcd;
                }
                
            }

            &:last-child{
                & .td-data:first-child{
                    border-radius: 0px 0px 0px 10px;
                }
                & .td-data:last-child{
                    border-radius: 0px 0px 10px 0px;
                }
            }

            .th-data{
                font-size: 14px;
                padding: 10px 10px;
                font-weight: bold;

                &:first-child{
                    border-radius: 10px 0px 0px 0px;
                }
                &:last-child{
                    border-radius: 0px 10px 0px 0px;
                }
            }

            .td-data{
                font-size: 12px;


                &.worker-profile{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    font-weight: bold;
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        border: 1px solid #cdcdcd;
                    }
                }

                &.work-detail{
                    padding: 1px;
                    & > div{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        
                        & span{
                            font-weight: 500;
                        }
                    }
                    & .empty{
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                        align-items: center;
                        flex-grow: 1;
                        color: #cdcdcd;

                        &:hover{
                            position: relative;
                            &::after{
                                font-family: "Font Awesome 5 Free"; 
                                content: "\2b";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $readeableColor;
                                padding: 10px 10px;
                                font-weight: bold;
                                font-size: 17px;
                                background-color: #f2fff2;
                                border: 2px dashed green;
                                cursor: pointer;
                                border-radius: 5px;
                                animation: fadeInAddPseudo 300ms ;
                            }

                            @keyframes fadeInAddPseudo {
                                from{
                                    opacity: 0;
                                }to{
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    & .on-duty{
                        
                        padding: 10px 10px;
                        width: 100%;
                        border: 1px solid green;
                        border-radius: 5px;
                        color: green;
                        background-color: #f2fff2;
                    }
                    & .vacation-leave{
                        
                        padding: 10px 10px;
                        width: 100%;
                        border: 1px solid purple;
                        border-radius: 5px;
                        color: white;
                        background-color: #9d73a1;
                    }
                    & .absent{
                        
                        padding: 10px 10px;
                        width: 100%;
                        border: 1px solid red;
                        border-radius: 5px;
                        color: white;
                        background-color: #c73c3c;
                    }
                    & .offday{
                        
                        padding: 10px 10px;
                        width: 100%;
                        border: 1px solid green;
                        border-radius: 5px;
                        color: white;
                        background-color:#85c7a4;
                    }
                }
            }
            

            

            &:last-child{
                & .td-data{
                    border-bottom: 1px solid #cdcdcd;
                }
            }
        }

        
    }
}








.control-container{
    padding: 0px 30px;

    .control-footer{
        margin-top: 10px;;
    }
}



.control-container{
    display: flex;
    align-items: flex-end;
    column-gap: 15px;
}

.control-component{
    display: grid;
    column-gap: 10px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    // border: 1px solid #cdcdcd;
    border-radius: 5px;
    font-size: 14px;
    // margin: 0px 20px 10px 0px;
    .label-icon{
        padding: 5px 5px;
        border-radius: 10px 0px 0px 10px;

        i{
            margin: 0px 5px;
            font-size: 20px;
        }
    }

    input, select, textarea{
        border: none;
        width: initial;
        height: 40px;
        min-width: 300px;
        border: 1px solid #cdcdcd; 
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    textarea{
        min-height: 200px;
        display: block;
        width: 100%;
    }
    button{
        
        height: 40px;
        padding: 10px 20px;
        background-color: #84c7c2;
        color: white;
        border: none;
        border-radius: 10px;
    }

    .control-navigator-button{
        button{
            position: absolute;
        }
    }


    

    
}
.control-container-right-floater{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}



//  
.pop-wrapper-shutter{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}




// custom style for datatable
// #example_filter, #example_length{
//     font-size: 14px;
//     margin-bottom: 10px;
//     label{    
//         align-items: center;
//         display: flex;
//         flex-direction: row;
//         select{
//             width: 50px;
//             margin: 0px 5px
//         }
//         input{
//             margin-left : 5px;
//         }
//     }
// }

// #example_filter, #example_paginate{
//     float: right;
// }



// make table corner curved
tr:first-child th:first-child{
    border-radius: 10px 0px 0px 0px;
}
tr:first-child th:last-child{
    border-radius: 0px 10px 0px 0px;
}

tr:last-child td:first-child{
    border-radius:  0px 0px 0px 10px;
}
tr:last-child td:last-child{
    border-radius:  0px 0px 10px 0px;
}






// pop up forms styles =====================

.clickable-whole-wrapper{
    background-color: #000000a6;
    position:fixed;
    left: 0;  top : 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInPopper 200MS forwards;
}

@keyframes fadeInPopper {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.form-wide-wrapper{
    border-radius: 10px;
    color: #636363;
    max-height: 80vh;
    background-color: white;
    box-shadow: 0px 0px 10px -2px gray;
    position: relative;
    overflow-y: hidden;
    animation: drop 200MS cubic-bezier(0.31, 0, 0.24, 1.49) forwards;

    @keyframes drop {
        from{
            // transform: translateY(-10px);
            transform: scale(0.9);
        }
        to{
            // transform: translateY(0px);
            transform: scale(1);
        }
    }

    .form-container{
        max-height: 80vh;
        overflow-y: scroll;
    }
    
    
    .form-header, .form-body, .form-footer{
        padding: 30px;
    }
    .form-header{
        position: relative;
        padding-bottom: 0;
        .title{
            font-weight: bold;
            font-size: 18px;
        }
        .mini-info{
            font-size: 13px;
            color: #a1a1a1;
        }
        .form-closer-button{
            position: absolute;
            right: 20px;
            top: 30px;
            padding: 10px 15px;
            font-size: 30px;
            line-height: 10px;
            cursor: pointer;
        }
    }

    .form-body{
        display: flex;
        flex-direction: column;
        padding: 0px 30px;

        .control-component-container{
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(5, auto);
            grid-column-gap: 0px;
            grid-row-gap: 10px;
            grid-column-gap: 20px;
            &>div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
            &>div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
            &>div:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
            &>div:nth-child(4) { grid-area: 3 / 1 / 4 / 2; }
            &>div:nth-child(5) { grid-area: 3 / 2 / 4 / 3; }
            
        }
    }

    .form-footer{
        padding-top: 10px;
        display: flex;
        column-gap: 10px;
    }
}

